@import url('./_normalize.css');
@import url('./fonts.css');
@import url('./_vars.css');

* {
    box-sizing: border-box;
}

html,body {
    min-height: 100vh;
    font-size: var(--font-size-main);
    font-family: sans-serif;
    background: var(--backgr-main);
    color: var(--font-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 13px 120px;
}

.navigation {
    display: flex;
    text-align: left;
}
a{
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: left;
    gap: 10px;
    list-style: none;
    
}

.lang {
    font-family: 'Tourney', cursive;
    font-size: 18px;
    font-weight: 600;
}

.menu__item {
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    font-weight: 400;
}

.main {
    margin-left: 407px;
    }

.italic {
    font-style: italic;
    }

.title {
    position: relative;
    margin: 20px 0;
    display: inline-block;
}

.sub-title {
    font-family: 'Farro';
    font-weight: 300;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -68px;
    text-transform: none;
}

.article {
    position: relative;
    padding-top: 1px;
    margin-bottom: 70px;
    font-family: 'PT Sans';
    font-weight: 400;

}

.article::before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 8px;
    background-color: #000;
}


.sidebar {
    width: 277px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 120px;
    padding: 70px 0px;
    }

.sidebar_content, h2 {
    font-family: 'Francois One';
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.bg_picture {
    position: absolute;
    z-index: -0.9;
    top: 120px;
    left: 680px;
    right: -500px;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; 
    opacity: 0.5;
}